{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block principal %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Locales</title>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
        #imgoffcanvas{
            width: 100%; 
        }
        .comments-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 15px;
            max-width: 100%;
        }
        .comment {
            max-width: 400px;
            margin-bottom: 15px;
        }
    </style>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVBy4_rcQHJ_lpcsee9Rffw5F4gjeWibg&map_ids=669dad06d9fb45dd&callback=initMap&libraries=marker"></script>
</head>
<body>
    <div>
        <h1 class="ms-3 mt-3 mb-2">Mapa de Locales</h1>        
    </div>

    <div id="map"></div>

    <!-- Offcanvas -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="localInfoCanvas" aria-labelledby="localInfoCanvasLabel" style="height: 75%;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="localInfoCanvasLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="localInfoContent">
                <p>Selecciona un local para ver más detalles.</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="contactModalLabel">Información de Contacto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContactContent">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
  
    
    <script>
        window.initMap = function () {
            var centro = { lat: -33.45694, lng: -70.64827 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: centro,
                mapId: "669dad06d9fb45dd",
            });
            var markers = [];
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var userLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(userLocation);
                    map.setZoom(17);
                }, function() {
                    map.setCenter({ lat: -33.45694, lng: -70.64827 });
                });
            } else {
                map.setCenter({ lat: -33.45694, lng: -70.64827 });
            }

            {% for local in coordenadas %}
                var marker = new google.maps.marker.AdvancedMarkerElement({
                    position: { lat: {{ local.latitud }}, lng: {{ local.longitud }} },
                    map: map,
                    title: "{{ local.nombre }}"
                });

                markers.push(marker);

                marker.addListener('click', function () {
                    const local = {
                        id: {{ local.id }},
                        nombre: "{{ local.nombre }}",
                        imagen: "{{ local.imagen.url }}",
                        categoria: "{{ local.categoria }}",
                        valoracion: "{{ local.valoracion }}",
                        direccion: "{{ local.direccion }}",
                        telefono: "{{ local.telefono }}",
                        correo: "{{ local.correo }}",
                        whatsapp: "{{ local.whatsapp }}",
                        valoraciones: [
                            {% for valoracion in local.valoraciones.all %}
                                {
                                    puntuacion: {{ valoracion.puntuacion }},
                                    comentario: "{{ valoracion.comentario }}",
                                    usuario: {
                                        username: "{{ valoracion.usuario.username }}",
                                        profile_picture: "{{ valoracion.usuario.profile_picture.url }}"
                                    }
                                },
                            {% endfor %}
                        ]
                    };
                    showLocalInfo(local);
                });
            {% endfor %}

            map.addListener('zoom_changed', function() {
                var zoom = map.getZoom();

                for (var i = 0; i < markers.length; i++) {
                    if (zoom < 13) {
                        markers[i].setMap(null);
                    } else {
                        markers[i].setMap(map);
                    }
                }
            });
        };

        function showLocalInfo(local) {
            // Calcular el promedio de las valoraciones
            let totalPuntuaciones = 0;
            let numeroValoraciones = local.valoraciones.length;
            let localtelefono = local.telefono
            let localwhatsapp = local.whatsapp
            let localcorreo = local.correo
    
            if (numeroValoraciones > 0) {
                totalPuntuaciones = local.valoraciones.reduce((sum, valoracion) => sum + valoracion.puntuacion, 0);
            }
            const promedioPuntuacion = numeroValoraciones > 0 ? (totalPuntuaciones / numeroValoraciones).toFixed(1) : 0;

            function generarEstrellas(puntuacion) {
                let estrellas = '';
                for (let i = 1; i <= 5; i++) {
                    if (i <= puntuacion) {
                        estrellas += `
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        `;
                    } else {
                        estrellas += `
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                            </svg>
                        `;
                    }
                }
                return estrellas;
            }

            const content = `
                <div class="row align-items-start">
                    <div class="col-12 col-md-4 mb-3">
                        <img id="imgoffcanvas" src="${local.imagen}" alt="Imagen de ${local.nombre}" class="img-fluid shadow-lg rounded">
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <h4>${local.nombre}</h4>
                        <p class="text-muted mb-1">${local.categoria}</p>
                    </div>
                    <div class="col-12 col-md-2">
                        <p>⭐ ${promedioPuntuacion} (${numeroValoraciones})</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <p class="fs-5"><strong>${local.direccion}</strong></p>
                    </div>
                </div>
                <div class="row mt-4">
            
                    <div class="col-12 col-md-4 mb-2">
                        <button class="btn btn-secondary w-100 toggle-favorito" data-id="${local.id}">Favorito</button>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <button class="btn btn-success w-100" onclick="showRatingForm(${local.id})">Valorar</button>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <button class="btn btn-info w-100" onclick="showContactModal('${local.nombre}', '${local.telefono}', '${local.correo}', '${local.whatsapp}')">Ver Contacto</button>
                    </div>
                </div>

                <!-- comentarios -->
                <div class="row mt-4">
                    <div class="col-12">
                        <h5>Comentarios:</h5>
                        <div class="comments-container">
                            ${local.valoraciones.length > 0 ? 
                                local.valoraciones.map(valoracion => `
                                    <div class="comment shadow-lg p-3">
                                        <div class="row">
                                            <div class="col-3 mb-auto">
                                                <img src="${valoracion.usuario.profile_picture || '/static/core/img/defaultprofile.jpg'}" alt="${valoracion.usuario.username}" class="img-fluid rounded-circle" width="40" height="40">
                                            </div>
                                            <div class="col-9 px-0">
                                                <p class="mb-0"><strong>${valoracion.usuario.username}</strong></p>
                                                <p class="mb-2">${generarEstrellas(valoracion.puntuacion)}</p>
                                                <p class="mb-0">${valoracion.comentario || 'Sin comentario'}</p>
                                            </div>
                                        </div>
                                    </div>
                                `).join('') 
                            : '<p>No hay comentarios aún.</p>'}
                        </div>
                    </div>
                </div>
            `;

            // Insertar el contenido en el DOM
            document.getElementById('localInfoContent').innerHTML = content;

            // Mostrar offcanvas
            const offcanvas = new bootstrap.Offcanvas(document.getElementById('localInfoCanvas'));
            offcanvas.show();

            // Manejo de eventos de Favoritos
            const btnFavorito = document.querySelector('.toggle-favorito');
            btnFavorito.addEventListener('click', function() {
                toggleFavorito(local.id);
            });
        }

        function showRatingForm(localId) {
            var div = document.getElementById("ratingforma");
            if (div) {
                div.remove();
            }else{
                const ratingForm = `
                    <div class="row mb-3" id="ratingforma">
                        <div class="col-12">
                            <h5>Deja tu valoración</h5>
                            <label for="puntuacion">Puntuación (1-5):</label>
                            <input type="number" id="puntuacion" class="form-control" min="1" max="5" required>
                        </div>
                        <div class="col-12">
                            <label for="comentario">Comentario:</label>
                            <textarea id="comentario" class="form-control" rows="3" required></textarea>
                        </div>
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary" onclick="submitRating(${localId})">Enviar Valoración</button>
                        </div>
                    </div>
                `;
                document.getElementById('localInfoContent').innerHTML += ratingForm;
            }
        }

        function submitRating(localId) {
            const puntuacion = document.getElementById('puntuacion').value;
            const comentario = document.getElementById('comentario').value;

            if (!puntuacion || !comentario) {
                alert("Por favor, completa todos los campos.");
                return;
            }

            fetch(`/valorar_local/${localId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ puntuacion, comentario })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                } else if (data.error) {
                    alert(data.error);
                }
                const offcanvas = new bootstrap.Offcanvas(document.getElementById('localInfoCanvas'));
                offcanvas.hide();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
        function toggleFavorito(localId) {
            const btnFavorito = document.querySelector('.toggle-favorito');
    
            fetch(`/toggle_favorito/${localId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'added') {
                    btnFavorito.textContent = 'Quitar de Favoritos';
                    btnFavorito.classList.remove('btn-primary');
                    btnFavorito.classList.add('btn-danger');
                } else if (data.status === 'removed') {
                    btnFavorito.textContent = 'Agregar a Favoritos';
                    btnFavorito.classList.remove('btn-danger');
                    btnFavorito.classList.add('btn-primary');
                }
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
        function showContactModal(nombre, telefono, correo, whatsapp) {
            if (telefono === "None" && correo === "None" && whatsapp === "None") {
                document.getElementById('modalContactContent').innerHTML = `
                    <h5>${nombre}</h5>
                    <p>No hay información de contacto disponible.</p>
                `;
            } else {
                let modalContent = `<h5>${nombre}</h5> <br>`;
                if (telefono !== "None") {
                    modalContent += `<p><strong>Teléfono:</strong> ${telefono}</p>`;}
                if (correo !== "None") {
                    modalContent += `<p><strong>Correo:</strong> ${correo}</p>`;}
                if (whatsapp !== "None") {
                    modalContent += `<p><strong>Whatsapp:</strong> ${whatsapp}</p>`;}

                document.getElementById('modalContactContent').innerHTML = modalContent;
            }
            var myModal = new bootstrap.Modal(document.getElementById('contactModal'));
            myModal.show();
        }

    </script>
</body>
</html>

{% endblock %}